NEXT_PUBLIC_API_URL=https://tourista-production.up.railway.app/api
BACKEND_URL=https://tourista-production.up.railway.app
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=demo
NEXT_PUBLIC_CLOUDINARY_UPLOAD_FOLDER=tourista/reviews
CLOUDINARY_CLOUD_NAME=demo
CLOUDINARY_API_KEY=616862271251394
CLOUDINARY_API_SECRET=bpxq5nzgWG2MzxQTUcmOfqtr1E4
CLOUDINARY_UPLOAD_FOLDER=tourista
